<!DOCTYPE html>
<html>

  <% include ../partials/head %>

  <body class="simple">

  <% include ../partials/header %>

  <section class="page-content">
    <div class="container">
      <%-pageContent%>
    </div>
  </section>

  <% include ../partials/footer %>

  <% include ../partials/javascript %>

  </body>

</html>