// theme/typography.scss

body {

    h1 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    a {
    	&:hover,&:focus {
    		cursor:pointer;
    	}
    }
    

    .icon-link {
        position: relative;
        & > .fa {
            float:right;
        }
    }
}

