form {
    .button-bar {
            text-align:right;
    }
    
    .date {
        .input-group-addon {
            &:hover,&:focus {
                cursor:pointer;
            }
        }
    }
}

h3 + .form {
    margin-top: 20px;
}